<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{username}},</p>
        <p>Following are your administrator account credentials.</p>
        <p> Please, reset your password upon first login</p>
        <p><b>Username: </b>{{name}}</p>
        <p><b>Email: </b>{{email}}</p>
        <p><b>Username: </b>{{password}}</p>
    </body>
</html>